@tailwind base;
@tailwind components;
@tailwind utilities;

.shine:after {
  animation: shine 5s ease-in infinite;
  animation-fill-mode: forwards;
  content: "";
  position: absolute;
  top: -150%;
  left: -220%;
  width: 220%;
  height: 180%;
  opacity: 1;
  transform: rotate(30deg);

  background: rgba(255, 255, 255, 0.13);
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.13) 0%,
    rgba(255, 255, 255, 0.13) 77%,
    rgba(255, 255, 255, 0.5) 92%,
    rgba(255, 255, 255, 0) 100%
  );
}

.shine:active:after {
  /* opacity: 0; */
}

@keyframes shine {
  10% {
    /* opacity: 0; */
    top: -30%;
    left: -30%;
    transition-property: left, top, opacity;
    transition-duration: 0.7s, 0.7s, 0.15s;
    transition-timing-function: ease-in;
  }
  100% {
    opacity: 0;
    top: -30%;
    left: -30%;
    transition-property: left, top, opacity;
    transition-duration: 0s, 0s, 0s;
  }
}
